pyth/
.idea
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*.env
.vscode
mycasite/node_modules/
mycasite/dist/
mycasite/.env
mycasite/.env.local
mycasite/.env.*.local
*.DS_Store


# Vite / build
mycasite/.vite/
